// Book display styles
.book-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -20px;

  @include media($small-screen) {
    justify-content: flex-start;
  }

  .book {
    position: relative;
    margin: 0 20px 20px;
    flex: 0 0 140px;
    display: flex;
    flex-direction: column;

    img {
      width: 180px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 10px;
    }

    p {
      margin-top: auto;
    }

    p, h4 {
      margin-bottom: 0;
    }

    @include media($small-screen) {
      flex: 0 0 250px;
    }
  }
}

// book.show
#show-book {
  dl {
    display: flex;
    flex-direction: column;

    dt {
      width: 100px;
    }

    > div {
      display: flex;

      @include media($medium-screen) {
        justify-content: space-between;
      }
    }
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media($large-screen) {
      justify-content: flex-end;
    }
  }

  .icon-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .icon {
    margin-right: 10px;
    height: 32px;
  }

  .icon-shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  }
}