// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-serif: 'Lora', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-weight-thin: 100;
$font-weight-light: 250;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// Colors
$slate-blue: #577590;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #c594c5;
$red: #f94144;
$orange: #f3722c;
$yellow: #f9c74f;
$green: #90be6d;
$teal: #43aa8b;
$cyan: #6cb2eb;
$brown: #ab7967;

$black:        #000;
$darker-gray:  #1b2b34;
$dark-gray:    #343d46;
$medium-gray:  #4f5b66;
$gray:         #65737e;
$light-gray:   #a7adba;
$lighter-gray: #c0c5ce;
$off-white:    #cdd3de;
$almost-white: #eee;
$white:        #fff;

$color-primary: $slate-blue;

// Screen Widths

$small-screen        : 576px;
$small-screen-down   : (max-width ($small-screen - 1));
$medium-screen       : 768px;
$medium-screen-down  : (max-width ($medium-screen - 1));
$large-screen        : 1024px;
$large-screen-down   : (max-width ($large-screen - 1));
$x-large-screen      : 1400px;
$x-large-screen-down : (max-width ($x-large-screen - 1));

// chota overrides
:root {
  --color-primary: #577590;
  --bg-secondary-color: #d8dee9;
  --color-lightGrey: #a7adba;
  --color-grey: #65737e;
  --color-darkGrey: #343d46;
  --color-error: #f94144;
  --color-success: #90be6d;
}