// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Arimo', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color-primary: $blue;

// Screen Widths

$small-screen        : 576px;
$small-screen-down   : (max-width ($small-screen - 1));
$medium-screen       : 768px;
$medium-screen-down  : (max-width ($medium-screen - 1));
$large-screen        : 1024px;
$large-screen-down   : (max-width ($large-screen - 1));
$x-large-screen      : 1400px;
$x-large-screen-down : (max-width ($x-large-screen - 1));

// chota overrides
:root {
  --color-primary: #3490dc !important;
}