// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-serif: 'Lora', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-weight-thin: 100;
$font-weight-light: 250;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$black:        #000;
$gray-darker:  #222;
$gray-dark:    #333;
$gray:         #555;
$gray-light:   #777;
$gray-lighter: #eee;
$white:        #fff;

$color-primary: $blue;

// Screen Widths

$small-screen        : 576px;
$small-screen-down   : (max-width ($small-screen - 1));
$medium-screen       : 768px;
$medium-screen-down  : (max-width ($medium-screen - 1));
$large-screen        : 1024px;
$large-screen-down   : (max-width ($large-screen - 1));
$x-large-screen      : 1400px;
$x-large-screen-down : (max-width ($x-large-screen - 1));

// chota overrides
:root {
  --color-primary: #3490dc !important;
}