// chota combined input states fix (hover & focus)
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]):not(:disabled):hover, select:hover, textarea:hover, textarea[type="text"]:hover {
  &:focus {
    border-color: $color-primary;
  }
}
// chota error+focus
input.error:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]):focus,
select.error:focus,
textarea.error:focus,
textarea.error[type="text"]:focus {
  border-color: var(--color-error);
}

input.error {
  border-color: var(--color-error) !important;
}

.error-message {
  color: var(--color-error);
}

fieldset, .form-group {
  margin-bottom: 2rem;
}
