.hero-banner {
  background: url('../images/books-hero-banner.jpg');
  background-repeat: no-repeat;
  background-color: $white;

  @include media($small-screen-down) {
    background-size: cover;
    background-position: center 20px;
    min-height: 250px;
  }
  @include media($small-screen) {
    background-position: center 15%;
    min-height: 350px;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    display: block;
    background-color: #333;
    color: #ddd;
    padding: 1rem 2rem;
  }
}