.hero-banner {
  background: url('../images/books-hero-banner.jpg');
  background-repeat: no-repeat;
  background-color: $white;
  background-size: cover;
  background-position: center top;
  min-height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 52px;

  @include media($large-screen) {
    background-size: cover;
    background-position: center calc(100% + 33vw);
    min-height: 250px;
  }

  h2 {
    display: block;
    background-color: #333;
    color: #ddd;
    padding: 1rem 2rem;
  }
}
