$x-small-icon: 16px;
$small-icon: 24px;
$link-icon: 32px;
$medium-icon: 48px;
$large-icon: 72px;

.icon {
  display: inline-block;
  width: $medium-icon;
  height: $medium-icon;

  &.icon-link {
    width: $link-icon;
    height: $link-icon;

  }

  &.icon-x-sm {
    width: $x-small-icon;
    height: $x-small-icon;
  }

  &.icon-sm {
    width: $small-icon;
    height: $small-icon;
  }

  &.white {
    fill: $white;
  }

  &.icon-shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  }
}