// Main styles go here
body {
  font-family: $font-family-sans-serif;
  font-size: 1.6rem;
  font-weight: $font-weight-normal;
  position: relative;
  line-height: 1.4;
}

main {
  margin-top: 2rem;
  &.no-banner {
    margin-top: 6rem;
  }
}

.row {
  margin-bottom: 2rem;
}
